{% extends 'base.html' %}

{% block content %}
<h3 class="title">Создание новой категорий</h3>
<div class="column is-4 is-offset-4">
    <div class="box">
        <form method="POST">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="category" placeholder="Name category" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="d-grid gap-2">
                    <button class="button is-block is-info is-large is-fullwidth">Создать</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
