{% extends 'base.html' %}
{% block content %}
    <h3 class="title">История транзакций</h3>
    <div class="column is-4 is-offset-4">
        <div class="box">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Категория</th>
                </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                        {% for element in transaction %}
                            <td>{{ element }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}