{% extends 'base.html' %}

{% block content %}
<h3 class="title">Список категорий</h3>
<div class="column is-4 is-offset-4">
    <div class="box">
        <form method="POST">
            <ul class="list-group list-group-flush">
                {% for category in categories %}
                <li class="list-group-item"> {{ category[0] }}</li>
                {% endfor %}
            </ul>
        </form>
    </div>
</div>
{% endblock %}
