{% extends 'base.html' %}

{% block content %}
<h3 class="title">Статистика</h3>
  <div class="column is-4 is-offset-4">
    <div class="box">
        <form method="POST">
            <div class="field">
                <div class="control">
                    Средние доходы в месяц: {{ income }}
                </div>
            </div>

            <div class="field">
                <div class="control">
                   Средние расходы в месяц: {{ expenses }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
