{% extends 'base.html' %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <div class="box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <form method="POST">
                <div class="field">
                    Введите сумму (только цифры без доп. знаков)
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" pattern="[0-9]{,9}" name="sum" placeholder="Sum">
                    </div>
                </div>

                <div class="field">
                    <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined"
                           autocomplete="off"
                           value="minus">
                    <label class="btn btn-outline-danger" for="danger-outlined">Расход</label>

                    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined"
                           autocomplete="off"
                           value="plus">
                    <label class="btn btn-outline-success" for="success-outlined">Доход</label>
                </div>

                <div class="field">
                    <select name="category_id" class="form-select" aria-label="Default select example">
                        {% for category in categories %}
                            <option value={{ category[0] }}>{{ category[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <div class="d-grid gap-2">
                        <button class="button is-block is-info is-large is-fullwidth">Добавить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
