{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}email{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <h3 class="title">Изменение email</h3>
        <div class="box">
            <form method="POST">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="email" name="new_email" placeholder="New Email">
                    </div>
                </div>

                <button class="button is-block is-info is-large is-fullwidth">Изменить</button>
            </form>
        </div>
    </div>
{% endblock %}