{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}new_username{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <h3 class="title">Изменение имени</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <form method="POST">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="old_password" placeholder="Old password">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="new_password" placeholder="New password">
                    </div>
                </div>

                <button class="button is-block is-info is-large is-fullwidth">Изменить</button>
            </form>
        </div>
    </div>
{% endblock %}
