{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}new_username{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <h3 class="title">Изменение имени</h3>
        <div class="box">
            <form method="POST">
                <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="new_username" placeholder="New name">
                </div>
            </div>

                <button class="button is-block is-info is-large is-fullwidth">Изменить</button>
            </form>
        </div>
    </div>
{% endblock %}
