{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Info{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Профиль</h3>
    <div class="box">
        <form method="POST">
            <div class="field">
                <div class="control">
                    ID: <span>{{ id }}</span>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    Email: <span>{{ email }}</span> <a href="exchange_email">Изменить</a>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    Username: <span>{{ username }}</span> <a href="exchange_username">Изменить</a>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <a href="exchange_password">Изменить пароль</a>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}
