{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Info{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <h3 class="title">Прошу прошения, тут технические шоколадки, вернитесь назад</h3>
　　　　　　／＞　 フ<br>
　　　　　| 　_　 _|<br>
　 　　　／`ミ _x 彡<br>
　　 　 /　　　 　 |<br>
　　　 /　 ヽ　　 ﾉ<br>
　／￣|　　 |　|　|<br>
　| (￣ヽ＿_ヽ_)_)<br>
＼二つ　 　　
    <p>Sorry 404 error</p>
    </div>
{% endblock %}