<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Track Money</title>
    <link rel="shortcut icon" href="../static/picture/money-bag-white.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous"></script>
</head>

<body>
<section class="hero is-primary is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    {% if g.user.is_authenticated %}
                        <div class="navbar-header">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="{{ url_for('company_management.main_page') }}"
                                   class="navbar-item">
                                    <img src="../static/picture/money-bag-white.png" width="50" height="50"
                                         class="d-inline-block align-text-top">
                                    Home
                                </a>
                            </div>
                        </div>
                        <div class="navbar-end">
                        <a class="navbar-brand" href="{{ url_for('functional.transaction') }}" class="navbar-item">
                            <img src="../static/picture/plus.png" width="60" height="20"
                                 class="d-inline-block align-text-top">
                        </a>

                        <a class="nav-link active" href="{{ url_for('functional.history_transactions') }}"
                           class="navbar-item">
                            История
                        </a>

                        <a class="nav-link active" href="{{ url_for('functional.statistics') }}" class="navbar-item">
                            Статистика
                        </a>

                        <a class="nav-link active" href="{{ url_for('functional.list_category') }}" class="navbar-item">
                            Список категорий
                        </a>

                        <a class="nav-link active" href="{{ url_for('functional.create_category') }}"
                           class="navbar-item">
                            Создать новую категорию
                        </a>

                        <a class="nav-link active" href="{{ url_for('user.info_myself') }}" class="navbar-item">
                            Профиль
                        </a>

                        <a class="nav-link active" href="{{ url_for('accounts.logout') }}" class="navbar-item">
                            Выход
                        </a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
</body>
</html>
