{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Main page{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="column is-4 is-offset-4">
        {% if g.user.is_authenticated %}
            <form method="POST">
                <div class="box">
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">День</th>
                            <th scope="col">Неделя</th>
                            <th scope="col">Месяц</th>
                            <th scope="col">Год</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Доходы</th>
                            {% for i in range(0, 4) %}
                                <td>
                                    {{ data[i] }}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Расходы</th>
                            {% for i in range(4, 8) %}
                                <td>
                                    {{ data[i] }}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Баланс</th>
                            {% for i in range(8, 12) %}
                                <td>
                                    {{ data[i] }}
                                </td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            </div>
        {% else %}
            <h1><em>hello</em></h1>
            <div class="field">
                <a href="{{ url_for('accounts.login') }}">
                    <button type="button" class="btn btn-outline-light">Sign In</button>
                </a>
            </div>
            <div class="field">
            <a href="{{ url_for('accounts.register_user') }}">
                <button type="button" class="btn btn-outline-light">Sign Up</button>
            </a>
        {% endif %}
        </div>
    </div>
{% endblock %}
